html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #232222;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.logo__link {
    margin-left: 16px;
}

.menu__list {
    display: flex;
    gap: 30px;
    padding-top: 16px;
}

.menu__list-item {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.menu__item-link {
    color: #001E64;
}

.menu__list-item--active {
    border-bottom: solid 1px #001E64;
}

.phone__link {
    margin-right: 43px;
    padding-top: 11px;
}

.btn-burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    width: 35px;
    height: 25px;
    cursor: pointer;
    border: none;
    margin-top: 14px;
}

.btn-burger span {
    height: 2px;
    background-color: #001E64;
    width: 100%;
}

.top {
    margin-bottom: 100px;
}

.top__box {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
}

.top__title {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 72px;
    line-height: 120%;
    font-weight: 700;
    color: #001E64;
    padding-top: 176px;
    margin-left: 112px;
    margin-bottom: 130px;
    max-width: 590px;
}

.top__slider {
    max-width: 520px;
    padding-top: 44px;
    padding-left: 78px;
    margin-left: 35px;
}

.top__slider-text {
    max-width: 407px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #FFF;
}

.top__slider-link {
    display: block;
    max-width: 300px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    padding: 14px 88px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-bottom: 55px;
    transition: all .5s;
}

.top__slider-link:hover {
    color :#001E64;
    background-color: #FFF;
}

.top__slider-arrow-prev,
.top__slider-arrow-next {
    position: absolute;
    left: 5px;
    cursor: pointer;
}

.top__slider-arrow-prev {
    top: 0;
}

.top__slider-arrow-next {
    bottom: 0;
}

.top__slider .slick-dots {
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top__slider .slick-dots button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    opacity: .5;
    cursor: pointer;
}

.top__slider .slick-dots button::before {
    content: '0';
}

.top__slider .slick-dots .slick-active button{
    opacity: 1;
}

.language {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 80px;
    font-size: 18px;
    color: #FFF;
    transform: translateY(-15px);
}

.language__link--active {
    font-weight: 700;
}

.pluses {
    margin-bottom: 100px;
}

.pluses__box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pluses__inner {
    padding: 254px 90px 98px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.pluses__item {
    background-image: url(../images/shell.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab';
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.pluses__info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.pluses__info-item:nth-child(even) {
    flex-direction: row-reverse;
    margin-right: 180px;
}

.pluses__info-description {
    padding-right: 20px;
}

.pluses__info-item:nth-child(even) .pluses__info-description {
    padding-left: 20px;
    padding-right: 0;
}

.pluses__description-title {
    font-family: 'Roboto Slab';
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: #001E64;
    margin-bottom: 30px;
}

.pluses__description-title:nth-child(n+2) {
    margin-top: 50px;
}

.pluses__description-text {
    max-width: 420px;
}

.pluses__description-text + .pluses__description-text {
    margin-top: 30px;
}